<aside class="main-aside">

    <div class="main-aside__title">
      Chat
    </div>

    <div class="main-aside__mensajes">

      <div class="main-aside__mensaje">10:00 (Ana): Hola</div>
      <div class="main-aside__mensaje">10:01 (Juan): Adiós</div>
      <div class="main-aside__mensaje">10:00 (Ana): Hola</div>
      <div class="main-aside__mensaje">10:01 (Juan): Adiós</div>
      <div class="main-aside__mensaje">10:00 (Ana): Hola</div>
      <div class="main-aside__mensaje">10:01 (Juan): Adiós</div>
      <div class="main-aside__mensaje">10:01 (Juan): Adiós</div>
      <div class="main-aside__mensaje">10:01 (Juan): Adiós</div>
      <div class="main-aside__mensaje">10:01 (Juan): Adiós</div>
      <div class="main-aside__mensaje">10:01 (Juan): Adiós</div>
      <div class="main-aside__mensaje">10:01 (Juan): Adiós</div>
      <div class="main-aside__mensaje">10:01 (Juan): Adiós</div>
      <div class="main-aside__mensaje">10:01 (Juan): Adiós</div>
      <div class="main-aside__mensaje">10:01 (Juan): Adiós</div>
      <div class="main-aside__mensaje">10:01 (Juan): Adiós</div>
      <div class="main-aside__mensaje">10:01 (Juan): Adiós</div>
      <div class="main-aside__mensaje">10:01 (Juan): Adiós</div>
      <div class="main-aside__mensaje">10:01 (Juan): Adiós</div>
      <div class="main-aside__mensaje">10:01 (Juan): Adiós</div>
      <div class="main-aside__mensaje">10:01 (Juan): Adiós</div>

    </div>

    <div class="main-aside__submit">

      <form class="main-aside__submit-form">

        <label for="mensaje"></label>
        <input type="text" id="mensaje" name="id">

        <input type="submit" value="Enviar">

      </form>
      
    </div>

  </aside>
