<header class="main-header">

    <button class="toggle-button">
      <span class="toggle-button__bar"></span>
      <span class="toggle-button__bar"></span>
      <span class="toggle-button__bar"></span>
    </button>

    <div>
      <a class="main-header__brand" href="index.html">Banco</a>
    </div>

    <nav class="main-nav">

      <ul class="main-nav__items">
        <li class="main-nav__item">
          <a href="clientes.html">Clientes</a>
        </li>
        <li class="main-nav__item">
          <a href="gestores.html">Gestores</a>
        </li>
        <li class="main-nav__item">
          <a class="main-nav__item_mensajes" href="mensajes.html">Mensajes</a>
        </li>
        <li class="main-nav__item main-nav__item_logout">
          <a href="logout.html">
            <i class="fas fa-sign-out-alt"></i>Logout
          </a>
        </li>
      </ul>
    </nav>

  </header>