<header class="main-header">

  <div>
    <a class="main-header__brand" href="index.html">Banco</a>
  </div>

  <span class="main-header__info">
    {{reloj}} ({{minutosRestantes}}) ({{temperatura}}ºC - {{ciudad}}) -
    (BTC={{precioBitcoin}}$)
  </span>

  <nav class="main-nav">

    <ul class="main-nav__items">

      <!-- Clientes -->
      <li *ngIf="estaGestorAutenticado" class="main-nav__item">
        <a routerLink="clientes">Clientes</a>
      </li>

      <!-- Gestores -->
      <li *ngIf="estaGestorAutenticado" class="main-nav__item">
        <a routerLink="gestores">Gestores</a>
      </li>

      <!-- Mensajes -->
      <li *ngIf="estaGestorAutenticado" class="main-nav__item">
        <a class="main-nav__item_mensajes" href="mensajes.html">Mensajes</a>
      </li>

      <!-- Botón logout -->
      <li *ngIf="estaGestorAutenticado || estaClienteAutenticado" class="main-nav__item main-nav__item_logout">
        <a (click)="onLogout()">
          <i class="fas fa-sign-out-alt"></i>Logout
        </a>
      </li>

      <!-- Login Gestor -->
      <li *ngIf="!estaGestorAutenticado && !estaClienteAutenticado" class="main-nav__item">
        <a
          class="main-nav__item_login_gestor"
          routerLink="login/gestor">Login Gestor</a>
      </li>

      <!-- Login Cliente -->
      <li *ngIf="!estaGestorAutenticado && !estaClienteAutenticado" class="main-nav__item">
        <a
          class="main-nav__item_login_gestor"
          routerLink="login/cliente">Login Cliente</a>
      </li>

    </ul>
  </nav>

</header>
