.main-header {
    background-color: #2ddf5c; 
    padding: 0.5rem 1rem; 
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .main-header > div {
    display: inline-block;
    vertical-align: middle;
  }
  
  .main-header__brand {
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.37rem;
  }
  .main-nav {
    display: inline-block;
    width: calc(100% - 76px);
    text-align: right;
    vertical-align: middle;
  }
  
  .main-nav__items {
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  
  .main-nav__item {
    display: inline-block;
    margin: 0 1rem;
  }
  
  .main-nav__item a {
    text-decoration: none;
    color: #0e4f1f;
    font-weight: bold;
    font-size: 0.75rem;
  }
  
  .main-nav__item a:hover {
    color: white;  
    font-weight: bold;
    border-bottom: 5px solid white;
  }
  
  .main-nav__item_logout a {
    color: white;
    background: #ff1b68;
    padding: 0.5rem 1rem;
    border-radius: 8px;
  }
  
  .main-nav__item_logout a:hover {
    color: #ff1b68;
    background-color: white;
    border-bottom: none;
  }
  
  .main-nav__item_mensajes::before {
    content: "✉";
  }
  
  .toggle-button {
    display: none;
    width: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    vertical-align: middle;
  }
  
  .toggle-button:hover span {
    background-color: white;
  }
  
  .toggle-button__bar {
    width: 100%;
    height: 0.2rem;
    background: black;
    display: block;
    margin: 0.4rem 0;
  }
  