
.login-form {
  margin: auto;
  width: 15em;
}

.login-form input[type="text"] {
  border: 1px solid #ccc;
  padding: 0.2rem 0.5rem;
}

.login-form input[type="text"]:focus {
  background: #d8f3df;
  border-color: #2ddf5c;
}

.login-button {
  background: #0e4f1f;
  color: white;
  border: 1.5px solid #0e4f1f;
  padding: 0.5rem;
  border-radius: 8px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  font-family: inherit;
}

.login-button:hover,
.login-button:active {
  background: white;
  color: #0e4f1f;
  font-family: inherit;
}

.login-form input:invalid:focus {
  border: 1px solid red;
  background: rgb(250, 172, 172);
}

.login-form label {
  font-weight: bold;
}

.login-mensaje {
  background-color: red;
  color: white;
  text-align: center;
  padding: 8px;
  border-radius: 20px;
}

.login-form label,
.login-form input,
.login-button,
.login-mensaje {
  display: block;
  margin-top: 1.56rem;
  width: 100%;
}

.login-mensaje-oculto {
  display: none;
}

.main-login__title {
  text-align: center;
  color: #ff5454;
  padding-top: 1.25rem;
}
